html,
body,

.view {
    height: 100%;
}

header{
    height: 10%;
}

/* Navigation*/

.navbar {
    /*background-color: transparent;*/
    background-color: #154771;
}

.top-nav-collapse {
    background-color: #154771;
}

/*@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #154771;
    }
}*/
/*Intro*/

/*        .view {
    background: url("https://mdbootstrap.com/images/regular/people/img%20(61).jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

/*@media (max-width: 768px) {
    .full-bg-img,
    .view {
        height: 100%;
        position: relative;
    }
}

.description {
    padding-top: 25%;
    padding-bottom: 3rem;
    color: #fff
}

@media (max-width: 992px) {
    .description {
        padding-top: 7rem;
        text-align: center;
    }
}*/

/*Footer*/
/*@media (max-width: 768px) {
    .flex-center {
        align-items: center;
    }
}
@media (max-width: 1200px) {
    .flex-center {
        align-items: left;
    }
}*/
footer.page-footer {
    background-color: #275C88;
}