{% extends 'base.html' %}
{% block script %}
<script>
	$(document).ready(function(){
	{% block jquery %}

	$("#purchase-btn").click(function(event){
	 event.preventDefault()
	 $("#dialog-confirm").fadeIn("300")
	 $("#dialog-confirm").dialog({
	     resizable: false,
	     height: 350,
	     width: 350,
	     modal: true,
	     buttons:{
		     1:	{
		     	id: "close",
		     	text: "Confirm",
		     	click: function(){
		     		console.log("confirm")
		     		$(this).dialog("close")
		     	},
		     	class: "buy-btn"
		    },
		    2:	{
		     	id: "close",
		     	text: "Cancel",
		     	click: function(){
		     		$(this).dialog("close")
		     	},
		     	class: "cancel-btn"
		    },
	       }
	    })
	})

	{% endblock jquery %}
	})
</script>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-8">
	{% for img in object.thumbnail_set.all %}

		<img src="{{ img.media.url }}" class="img-fluid">

	{% endfor %}
	</div>
	<div class="col-sm-4">
		<h1>{{ object.title }}</h1>
		<p>{{ object.make }}</p>
		<p>{{ object.age }}</p>
		<p>{{ object.description }}</p>
		<p>{{ object.price_1 }}</p>
		<p>{{ object.price_2 }}</p>

		{% if request.user.is_authenticated and object.media and object in request.user.myproducts.products.all %}
		<p><a href="{{ object.get_download }}">Download</a></p>
		<p><a href="{{ object.get_download }}?preview=True">Preview</a></p>
		{% else %}
		<p><a id='purchase-btn' href="#">Purchase</a></p>
		<div id='dialog-confirm' title='Confirm Purchase' style='display:none'><p>Your card will be charged after you agree below</p></div>
		{% endif %}
	</div>
</div>


{% endblock %}