{% extends "base.html" %}

{% load get_thumbnail %}



{% block content %}
<div class="col-sm-4">
	<p>
		<form method="GET" action="">
			<input type="text" name="q" placeholder="Search" value='{{ request.GET.q }}'>
			<input type="submit" value="search">
		</form>
	</p>
</div>
<h2>My Listed Products</h2>
<table class="table">
        {% for item in product_list %}
	   	<tr>
	   		<td> {{ item.id }} </td>
		    <td><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></td>
		    <td> 
		    {% if item|get_thumbnail:'micro' %}
		    <a href="{{ item.get_absolute_url }}">
		    	<img src="{{ item|get_thumbnail:'micro' }}" style="max-width: 100px;">
		    </a>
		    <!-- <br> -->
		    {% endif %}
		    </td>
		    <td><span>had for - {{ item.age }}</span></td>
		    <td><span>Market price: ${{ item.price_1 }}</span></td>
		    <td><span>My price: ${{ item.price_2 }}</span></td>
		    <td><a href="{{ item.get_edit_url }}">Edit</a> | <a href="#">Delete</a></td>
			{% empty %}
				<li>No Products yet.</li>
		<hr>
		</tr>
		{% endfor %}
</table>

{% endblock %}